.container {
  width: 1340px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.catalogPage {
  display: flex;
  gap: 64px;
  padding: 20px 0;
}

.catalogPage__filter {
  width: 360px;
}

.catalogPage__filterInputLabel {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #10182899;
  margin-bottom: 8px;
}

.catalogPage__filterTitle {
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  padding-bottom: 24px;
  margin-bottom: 24px;
  border-bottom: 1px solid #1018281a;
}

.catalogPage__filterEquipment {
  margin-bottom: 32px;
}

.catalogPage__filterVehicleType {
  margin-bottom: 64px;
}
