.header {
  padding: 0 80px;
  background-color: #f4f1e8;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header__logoBtn {
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
}

.header__logo {
  height: 55px;
}

.header__links {
  padding: 20px 0;
}

.header__link {
  font-size: 22px;
  font-weight: bold;
  margin-right: 30px;
  text-decoration: none;
  color: #475467;
}

.header__link:last-child {
  margin-right: 0;
}

.header__link:hover {
  color: #e44848;
}
