.wrapper {
  background-image: url("../../images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 400px 0 300px;
  display: flex;
  justify-content: end;
}

.content {
  width: 700px;
  background: transparent;
  text-align: end;
}

.title {
  font-size: 60px;
  font-weight: 700;
  color: #f2f4f7;
  font-style: italic;
  background: transparent;
}

.text {
  background: transparent;
  color: #f2f4f7;
  font-size: 24px;
  margin: 24px 0;
}
